extends layouts/layout

block content
  h1= title
  section(class="signup")
    div(class="flex-container")
      form(action="/signin", method="POST", class="input-form")
          label Email
          input(type="email", name='email', placholder="email" require)
          label Password
          input(type="password", name='password', placholder="password" require)
          input(type="submit", value="Submit" class="btn btn-primary form-submit-button")
          a(class="btn btn-secondary" href="/signup") Sign up