extends layouts/layout

block content
  h1= title
  section(class="signup")
    div(class="flex-container")
      form(action="/signup", method="POST", class="input-form")
          label Username:
          input(type="text", name='username', placholder="username", class="inputbox" require)
          label Email:
          input(type="email", name='email', placholder="email", class="inputbox" require)
          label Password:
          input(type="password", name='password', placholder="password", class="inputbox" require)
          label Age: 
          input(type="number", name='age', placholder="age", class="inputbox" require)
          label Where do you keep your will to live?
          select(type="select", name="where_will", placeholder="where_will", id='where_will',class="inputbox")
            label(for="Answers") Answers 
              option(value=1) In a jar
              option(value=2) My back pocket 
              option(value=3) My parents took it 
              option(value=4) I lost it 
          label When was the last time you had the will to live?
          select(type="select", name="when_will", placeholder="when_will", id='when_will',class="inputbox")
            label(for="Answers") Answers 
              option(value=1) Have it now
              option(value=2) More than a week ago
              option(value=3) Sometime last month
              option(value=4) I forgor
          label When was the last time you touched grass?
          select(type="select", name="grass", placeholder="grass", id='grass',class="inputbox")
            label(for="Answers") Answers 
              option(value=1) Today
              option(value=2) Last week
              option(value=3) Last month
              option(value=4) Never
          input(type="submit", value="Submit" class="btn btn-primary form-submit-button")
          p Already have an account?
          a(class="btn btn-secondary" href="/signin") Sign in
