extends layouts/layout

block content
  h1= title
  section(class="signup")
   h1 Register
        form(action="/", method="POST")
            label Username:
            input(type="text", name='username', placholder="username" require)
            br
            label Email:
            input(type="email", name='email', placholder="email" require)
            br
            label Password:
            input(type="password", name='password', placholder="password" require)
            br
            label Age: 
            input(type="number", name='age', placholder="age" require)
            br
            
            input(type="submit", value="Submit" class="btn btn-primary form-submit-button")
        div(class="loginButton")
            p Already a User?
            a(class="btn btn-secondary" href="/signin") Sign in Here
